.btn {
    width: 64px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: #cccccc;
}

.text-center {
    text-align: center;
}

#perfect-statuses-table {
    border: #888888 1px solid;
}

#perfect-statuses-table td {
    width: 32px;
    border: #888888 1px solid;
    text-align: center;
}